body {
  margin: 0;
  background: linear-gradient(180deg, rgb(117, 81, 194), rgb(255, 255, 255));
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

.amplify-dropzone {
  background: linear-gradient(180deg, rgb(157, 114, 251),rgb(183, 159, 236) );;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
} 

.number-pad {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  min-width: 200px;
  margin-top: 20px
}

.number-pad button {
  font-size: 24px;
  padding: 5px;
  cursor: pointer;
  background-color: #4779cb;
  border: 1px solid #060000;
  border-radius: 5px;
}

.number-pad button:hover {
  background-color: #5d89cf;
}

@keyframes flameAnimation {
  0% {
    background-position: 0% 50%;
  }
  25% {
    background-position: 50% 30%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 70%;
  }
  100% {
    background-position: 0% 50%;
  }
}
